* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr: #222327;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr);
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*  */
.navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.list {
  list-style: none;
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.list div {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: var(--clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.list div .icon {
  position: relative;
  font-size: 1.8em;
  line-height: 75px;
  display: block;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}

.navigation ul li.active .icon {
  transform: translateY(-35px);
  color: white;
}
.text {
  position: absolute;
  font-weight: 500;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active .text {
  opacity: 1;
  transform: translateY(15px);
  color: green;
}

.indicator {
  position: absolute;
  top: -50%;
  left: 25px;
  width: 70px;
  height: 70px;
  border: 6px solid var(--clr);
  border-radius: 50%;
  background-color: green;
  transition: 0.5s;
}
.indicator::before {
  position: absolute;
  top: 50%;
  left: -24px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 14px;
  box-shadow: 4px -10px 0 0 var(--clr);
}
.indicator::after {
  position: absolute;
  top: 50%;
  right: -24px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 14px;
  box-shadow: -4px -10px 0 0 var(--clr);
}
